- 함수
  - def 이름(매개변수):
    - 내용
    - return

- 매개변수
  -  함수에 전달하는 데이터
  - 데이터를 받아서 내부로직에 적용한 후.. 값을 리턴

In [2]:
# 함수의 선언
def addTwoNumber(x ,y):
  z = x + y
  return z

In [3]:
result = addTwoNumber(10,20)  # result = 30
print(result)

30

In [6]:
def add(x,y):
  return x+y

def minus(x,y):
  return x-y

In [4]:
def addFunction( func, x,y ):
  result = func(x, y)
  return result

In [7]:
addFunction(minus,2,3)

-1

- 람다함수
  - 이름없는 함수 - 익명함수 - 임시로 사용하고 버리는 함수

In [9]:
def add(x, y):
  return x + y

myadd = lambda x, y : x + y

myadd(10,20)

30

In [10]:
addFunction( lambda x, y : x * y,  10, 20  )

200

In [1]:
# 4칙연산  10,20 가지고 addFunction과 람다함수를 이용해서 수행
sum([1,2,3,4,5])

15

In [23]:
def add(x,y):
  sum = x + y
  return sum

In [2]:
# 파이썬은 예약어의 개념이 없어서 기존 시스템에서 제공하는 함수도 재정의가 가능핟
# a = 10
# b = 20
# sum = a + b
# print(sum)

In [3]:
# 자료구조.. 데이터 타입
# 변수
# 변수들의 집합 : 리스트, 튜플, set, 딕셔너리

리스트 [1,2,3]
  - 순서가 존재
  - 다양한 종류의 데이터가 혼재
  - CRUD가 가능
튜플 (1,2,3 )
  - 순서가 존재
  - 읽기전용
  - 데이터의 보존을 위해서  
set set()
  - 중복을 허용하지 않음
딕셔너리  { "a":10, "b":20}
  - key:value -->하나의 데이터    
  - key는 중복을 허용하지 않는다

In [8]:
list_1 = [ ]  # 빈 리스트
list_2 = list()  # 내장 함수를 이용
# 데이터 추가
list_1.append(10); list_1.append(20); list_1.append(30); list_1.append(10)
print(f'remove 하기전의 list_1 의 값 : {list_1}')
list_1.remove(10)
print(f'remove 한후 list_1 의 값 : {list_1}')

remove 하기전의 list_1 의 값 : [10, 20, 30, 10]
remove 한후 list_1 의 값 : [20, 30, 10]

In [9]:
# list_1의 30을 del을 이용해서 삭제
del list_1[1]
print(list_1)

[20, 10]

In [5]:
# object  객체
# 파이썬에서는 모든게 다 객체
# 객체.기능등 --> .  dot 연산자

In [14]:
list_1 = [10, 20, 30, 10]
# 10을 전부 삭제한다
# 조건문 순환문
for i in list_1:
  if i == 10:
    list_1.remove(10)

In [15]:
list_1

[20, 30]

In [18]:
# 파이썬 순환문  특정횟수만큼 순환  for
for i in range(10):  # range(10)  0 ~ 9 순환가능한 리스트
  print(i)  # 10번 실행되면서. i의 값은 0 ~ 9

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in [10,20,-20,-100]:
  print(i)

10
20
-20
-100

In [20]:
for i in ['철수','영희','홍길동']:
  print(i)

철수
영희
홍길동

In [25]:
# 정렬  : 옵션을 따로 주지않으면.. 기본은 오름차순
list_1 = [10, 20, 30, 10,100,50,15]
list_1.sort(reverse = True)
print(list_1)

[100, 50, 30, 20, 15, 10, 10]

In [26]:
# 정렬함수중에람다를 매개변수로 사용하는 함수
points = [ (1,2),(3,1),(5,-1),(4,2),(10,10)    ]
points

[(1, 2), (3, 1), (5, -1), (4, 2), (10, 10)]

In [29]:
def mykey(x):
  return x[1]

In [30]:
sorted(points, key = mykey)

[(5, -1), (3, 1), (1, 2), (4, 2), (10, 10)]

In [31]:
#  람다를 이용하면 .mykey라는 함수가 따로필요하지 않는다
sorted(points, key = lambda x : x[1])  # 결과만 출력 원본은 바뀌지  않는다

[(5, -1), (3, 1), (1, 2), (4, 2), (10, 10)]

In [35]:
points = sorted(points, key = lambda x : x[1])  # 바뀐결과를 다시 자신에게 대입(업데이트)

파이썬에서 람다를 원하는 내장함수
  - map
  - sorted
  - filter
  - reduce

In [37]:
list_1 = [1,2,3,4,5]
# 각각의 원소에다가 10을 곱하면
for i in range(len(list_1)):
  list_1[i] = list_1[i] * 10
print(list_1)

[10, 20, 30, 40, 50]

In [41]:
list_1 = [1,2,3,4,5]
list(map(lambda x : x + 10, list_1))

[11, 12, 13, 14, 15]

filter
  - 조건에 맞는 값만 추출( 집합을 이루는 데이터들에서)

In [44]:
numbers = [1,2,3,4,5,6]
# numbers의 각각의 요소중에서 3보다 큰 수들만 추출(filter)
result = []
for i in range(len(numbers)):
  if numbers[i] > 3:
    result.append( numbers[i])
print(result)

[4, 5, 6]

In [46]:
list(filter(lambda x : x > 3, numbers))

[4, 5, 6]

In [47]:
# 짝수만  추출
list(filter(lambda x : x % 2 == 0, numbers))

[2, 4, 6]

In [48]:
# 짝수이면서 3보다 큰수
list(filter(lambda x : x % 2 == 0 and x > 3, numbers))

[4, 6]

reduce
  - 요소의 두개씩 람다를 적용한다 람다의 매개변수는 두개
  - functools 라이브러리에 존재

In [49]:
from functools import reduce

In [50]:
numbers

[1, 2, 3, 4, 5, 6]

In [51]:
reduce(lambda x, y : x + y, numbers)

21

In [52]:
# 응용
# 중첩 리스트
# [ [1,2],[3,4],[5,6] ]   -> [ 1,2,3,4,5,6  ]
# 리스트 + 리스트 => 두개의 리스트를 합친 새로운 리스트
[1,2] + [3,4]

[1, 2, 3, 4]

In [53]:
list_1 = [ [1,2],[3,4],[5,6] ]
reduce(lambda x, y : x+ y, list_1)

[1, 2, 3, 4, 5, 6]

람다
  - 람다의 정의
  - 적용분야 ???

In [71]:
# 주석은 해당 라인에 커서를 위치하거나.. shift키와 방향키를 동시에 눌러서 블럭을 만들고
# ctrl + /   누르면된다.


# 1. 두수의 합
add = lambda x, y : x+y
print(f'10 + 20 = {add(10,20)}')
# 2. 숫자가 짝수인지 확인
isEven = lambda x : x % 2 == 0
print(f'10은 짝수입니까? {isEven(10)}')
# 3. 문자열의 길이  len("python")
getLength = lambda x : len(x)
print(f'python의 길이는? {getLength("python")}')
# 4 리스트의 첫번째 문자로 정렬  ['jone','alex','bob']
list_1 = ['jone','alex','bob']
print(sorted(list_1, key = lambda x : x[0]))
# 5. 리스트에서 특정 조건(0~10 숫자중에 3의 배수만)에 맞는 요소만 필터링
numbers = [0,1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda x : x % 3 == 0, numbers)))
# 6. 리스트내의 요소들의 곱 계산(reduce) [1,2,3,4,5,6,7,8,9,10]
list_1 = [1,2,3,4,5,6,7,8,9,10]
print(reduce(lambda x, y : x * y, list_1))
# 7. 문자열을 역순으로 정렬 (pythone)  sorted
revesed_str =  lambda s :  ''.join(sorted(s, reverse = True))
print(revesed_str('pythone'))
# 8. 리스트내 중첩된 리스트에서 최대값찾기 max()   [ [1,3,8],[10,5,3],[7,20,3]   ]  --> [ 8,10,20  ]
list_1 = [ [1,3,8],[10,5,3],[7,20,3]   ]
print(list(map(lambda x : max(x), list_1)))
# 9. 두수중에서 가장 큰 수 반환하는 람다형 함수
max_num = lambda x, y : x if x > y else y
print(max_num(10,20))

10 + 20 = 30
10은 짝수입니까? True
python의 길이는? 6
['alex', 'bob', 'jone']
[0, 3, 6, 9]
3628800
ytponhe
[8, 10, 20]
20

In [72]:
# 파이썬의 3항 연산자....
x = 10
'크다' if x > 10 else '작다'

'작다'

In [73]:
# if x > 10  '크다' else '작다'

# 람다형식으로 두 수를 입력받아서 가장 큰수를 반환하는 람다형태의 함수
maximum = lambda x, y : x if x> y else y
maximum(10,20)

20

In [75]:
# 리스트 컴프리핸션  -> for문장을 한 라인으로 표현
# 람다 --> 함수를 한 라인으로 표현

result = []
for i in range(10): # 0 ~ 9
  if i % 2 == 0:
    result.append(i)

print(result)

###
result = [   i    for i in range(10)   if i % 2 == 0       ]
print(result)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]