- 함수
  - def 이름(매개변수):
    - 내용
    - return

- 매개변수
  -  함수에 전달하는 데이터
  - 데이터를 받아서 내부로직에 적용한 후.. 값을 리턴

In [2]:
# 함수의 선언
def addTwoNumber(x ,y):
  z = x + y
  return z

In [3]:
result = addTwoNumber(10,20)  # result = 30
print(result)

30

In [6]:
def add(x,y):
  return x+y

def minus(x,y):
  return x-y

In [4]:
def addFunction( func, x,y ):
  result = func(x, y)
  return result

In [7]:
addFunction(minus,2,3)

-1

- 람다함수
  - 이름없는 함수 - 익명함수 - 임시로 사용하고 버리는 함수

In [9]:
def add(x, y):
  return x + y

myadd = lambda x, y : x + y

myadd(10,20)

30

In [10]:
addFunction( lambda x, y : x * y,  10, 20  )

200

In [1]:
# 4칙연산  10,20 가지고 addFunction과 람다함수를 이용해서 수행
sum([1,2,3,4,5])

15

In [23]:
def add(x,y):
  sum = x + y
  return sum

In [2]:
# 파이썬은 예약어의 개념이 없어서 기존 시스템에서 제공하는 함수도 재정의가 가능핟
# a = 10
# b = 20
# sum = a + b
# print(sum)

In [3]:
# 자료구조.. 데이터 타입
# 변수
# 변수들의 집합 : 리스트, 튜플, set, 딕셔너리

리스트 [1,2,3]
  - 순서가 존재
  - 다양한 종류의 데이터가 혼재
  - CRUD가 가능
튜플 (1,2,3 )
  - 순서가 존재
  - 읽기전용
  - 데이터의 보존을 위해서  
set set()
  - 중복을 허용하지 않음
딕셔너리  { "a":10, "b":20}
  - key:value -->하나의 데이터    
  - key는 중복을 허용하지 않는다

In [8]:
list_1 = [ ]  # 빈 리스트
list_2 = list()  # 내장 함수를 이용
# 데이터 추가
list_1.append(10); list_1.append(20); list_1.append(30); list_1.append(10)
print(f'remove 하기전의 list_1 의 값 : {list_1}')
list_1.remove(10)
print(f'remove 한후 list_1 의 값 : {list_1}')

remove 하기전의 list_1 의 값 : [10, 20, 30, 10]
remove 한후 list_1 의 값 : [20, 30, 10]

In [9]:
# list_1의 30을 del을 이용해서 삭제
del list_1[1]
print(list_1)

[20, 10]

In [5]:
# object  객체
# 파이썬에서는 모든게 다 객체
# 객체.기능등 --> .  dot 연산자

In [14]:
list_1 = [10, 20, 30, 10]
# 10을 전부 삭제한다
# 조건문 순환문
for i in list_1:
  if i == 10:
    list_1.remove(10)

In [15]:
list_1

[20, 30]

In [18]:
# 파이썬 순환문  특정횟수만큼 순환  for
for i in range(10):  # range(10)  0 ~ 9 순환가능한 리스트
  print(i)  # 10번 실행되면서. i의 값은 0 ~ 9

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in [10,20,-20,-100]:
  print(i)

10
20
-20
-100

In [20]:
for i in ['철수','영희','홍길동']:
  print(i)

철수
영희
홍길동

In [25]:
# 정렬  : 옵션을 따로 주지않으면.. 기본은 오름차순
list_1 = [10, 20, 30, 10,100,50,15]
list_1.sort(reverse = True)
print(list_1)

[100, 50, 30, 20, 15, 10, 10]

In [26]:
# 정렬함수중에람다를 매개변수로 사용하는 함수
points = [ (1,2),(3,1),(5,-1),(4,2),(10,10)    ]
points

[(1, 2), (3, 1), (5, -1), (4, 2), (10, 10)]

In [29]:
def mykey(x):
  return x[1]

In [30]:
sorted(points, key = mykey)

[(5, -1), (3, 1), (1, 2), (4, 2), (10, 10)]

In [31]:
#  람다를 이용하면 .mykey라는 함수가 따로필요하지 않는다
sorted(points, key = lambda x : x[1])

[(5, -1), (3, 1), (1, 2), (4, 2), (10, 10)]