- 함수
  - def 이름(매개변수):
    - 내용
    - return

- 매개변수
  -  함수에 전달하는 데이터
  - 데이터를 받아서 내부로직에 적용한 후.. 값을 리턴

In [2]:
# 함수의 선언
def addTwoNumber(x ,y):
  z = x + y
  return z

In [3]:
result = addTwoNumber(10,20)  # result = 30
print(result)

30

In [6]:
def add(x,y):
  return x+y

def minus(x,y):
  return x-y

In [4]:
def addFunction( func, x,y ):
  result = func(x, y)
  return result

In [7]:
addFunction(minus,2,3)

-1

- 람다함수
  - 이름없는 함수 - 익명함수 - 임시로 사용하고 버리는 함수

In [9]:
def add(x, y):
  return x + y

myadd = lambda x, y : x + y

myadd(10,20)

30

In [10]:
addFunction( lambda x, y : x * y,  10, 20  )

200

In [11]:
# 4칙연산  10,20 가지고 addFunction과 람다함수를 이용해서 수행