- 관계형 데이터베이스
  - 형식이 정해진 데이터 즉 테이블 구조
  - 판다스와 거의 비슷한 구조
- No SQL
  - json형태로 되어 있는구조
- SQLite
  - 코렙에서 로컬파일로 작동하는 간단한 데이터 베이스

In [1]:
import sqlite3

In [2]:
# 데이터 베이스 시스템에 접속
conn = sqlite3.connect('example.db')

In [3]:
# CRUD(Create Read Update Delete)
cursor = conn.cursor()

In [4]:
# 테이블 생성 쿼리
sql = '''create table if not exists users(
  id integer primary key autoincrement,
  name text,
  age integer
)'''

cursor.execute(sql)

In [5]:
# 데이터를 테이블에 넣는다(생성)  - insert
sql = 'insert into users(name, age) values(?, ?)'
cursor.execute(sql, ('홍길동', 20))

In [6]:
# 데이터 조회
sql = 'select * from users'
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
  print(row)

('홍길동', 20)

In [7]:
# 연결 닫는다..
# 데이터추가한것은 실제 반영된게 아니라 임시로 반영되었음
# 실제 반영하려면. commit  커밋을 해야..
conn.commit()
conn.close()