- 관계형 데이터베이스
  - 형식이 정해진 데이터 즉 테이블 구조
  - 판다스와 거의 비슷한 구조
- No SQL
  - json형태로 되어 있는구조
- SQLite
  - 코렙에서 로컬파일로 작동하는 간단한 데이터 베이스

In [1]:
import sqlite3  # 서버 설치라고 보면 됩니다

In [2]:
# 데이터 베이스 시스템에 접속
conn = sqlite3.connect('/content/drive/MyDrive/DB/example.db')  # 스키마.. 데이터베이파일 생성

In [3]:
# 시스템 접속후에 사용가능한 상태로 만들기
# CRUD(Create Read Update Delete)
cursor = conn.cursor()

In [4]:
# 테이블 생성 쿼리
sql = '''create table if not exists users(
  id integer primary key autoincrement,
  name text,
  age integer
)'''

cursor.execute(sql)

In [5]:
# 데이터를 테이블에 넣는다(생성)  - insert
sql = 'insert into users(name, age) values(?, ?)'
cursor.execute(sql, ('홍길동', 20))

In [6]:
# 데이터 조회
sql = 'select * from users'
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, '홍길동', 20)
(2, '김길동', 25)
(3, '규영', 15)
(4, '홍길동', 20)

In [7]:
# 연결 닫는다..
# 데이터추가한것은 실제 반영된게 아니라 임시로 반영되었음
# 실제 반영하려면. commit  커밋을 해야..
conn.commit()
conn.close()

데이터베이스접속-커서오픈 - 작업(insert,update,delete,select) -  커밋/접속종료

기존 테이블에 데이터를 더 추가하려면?

In [8]:
conn = sqlite3.connect('/content/drive/MyDrive/DB/example.db')
cursor = conn.cursor()
sql = 'insert into users(name, age) values(?, ?)'
cursor.execute(sql, ('김길동', 25))  # 메모리에 임시로 저장
conn.commit()  # 실제 저장
conn.close()

In [9]:
# 한번 더 저장
conn = sqlite3.connect('/content/drive/MyDrive/DB/example.db')
cursor = conn.cursor()
sql = 'insert into users(name, age) values(?, ?)'
cursor.execute(sql, ('규영', 15))  # 메모리에 임시로 저장
conn.commit()  # 실제 저장
conn.close()

In [10]:
# 데이터베이스중에 users 테이블에 저장된 모든 데이터 조회
conn = sqlite3.connect('/content/drive/MyDrive/DB/example.db')
cursor = conn.cursor()
sql = 'select * from users'
cursor.execute(sql)  # sql 명령어를 실행( 추가 삭제 업데이트)만 하면되지만 조회는 데이터를 가져와야 하기때문에
rows = cursor.fetchall() # 데이터 를 집합형태로 가져오는 명령어가 필요
for row in rows:
  print(row)

(1, '홍길동', 20)
(2, '김길동', 25)
(3, '규영', 15)
(4, '홍길동', 20)
(5, '김길동', 25)
(6, '규영', 15)

In [11]:
# 학사관리 데이터 베이스
# 1. 전용 데이터베이스 생성
conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
cursor = conn.cursor()
# 2. students 테이블 생성( id, name, addr, score)  아이디 이름 주소 점수(0~100)
sql = '''create table if not exists students(
  id integer primary key autoincrement,
  name text,
  addr text,
  score integer
)'''
cursor.execute(sql)
# 3. 5명 학생데이터를 넣고
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동1', '서울', 90))
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동2', '서울', 91))
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동3', '서울', 92))
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동4', '서울', 93))
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동5', '서울', 94))
# 4. 조회하기
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
  print(row)
# 5. 커밋
conn.commit()
# 6. 접속종료
conn.close()

(1, '홍길동1', '서울', 90)
(2, '임꺽정', '서울', 100)
(4, '이순신', '부산', 100)
(6, '둘리', '대전', 19)
(7, '홍길동1', '서울', 90)
(8, '홍길동2', '서울', 91)
(9, '홍길동3', '서울', 92)
(10, '홍길동4', '서울', 93)
(11, '홍길동5', '서울', 94)

In [12]:
#접속
conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
cursor = conn.cursor()

# 업데이트  '홍길동4', '서울', 93  -> 이순신, 부산, 100
sql = '''update students set name=?, addr=?, score=? where id=?'''
cursor.execute(sql, ('이순신', '부산', 100, 4))
# 조회
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
  print(row)

# 접속 종료
conn.commit()
conn.close()

(1, '홍길동1', '서울', 90)
(2, '임꺽정', '서울', 100)
(4, '이순신', '부산', 100)
(6, '둘리', '대전', 19)
(7, '홍길동1', '서울', 90)
(8, '홍길동2', '서울', 91)
(9, '홍길동3', '서울', 92)
(10, '홍길동4', '서울', 93)
(11, '홍길동5', '서울', 94)

In [13]:
# 접속
conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
cursor = conn.cursor()

sql = '''delete from students where id=?'''
cursor.execute(sql, (5,))
# 조회
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
  print(row)

# 적용/접속해제
conn.commit()
conn.close()

(1, '홍길동1', '서울', 90)
(2, '임꺽정', '서울', 100)
(4, '이순신', '부산', 100)
(6, '둘리', '대전', 19)
(7, '홍길동1', '서울', 90)
(8, '홍길동2', '서울', 91)
(9, '홍길동3', '서울', 92)
(10, '홍길동4', '서울', 93)
(11, '홍길동5', '서울', 94)

In [14]:
# Create
def create_student(name, addr, score):
  conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
  cursor = conn.cursor()

  sql = '''insert into students(name, addr, score) values(?, ?, ?)'''
  cursor.execute(sql, (name, addr, score))

  conn.commit()
  conn.close()
# Read
import numpy as np
def read_students():
  conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
  cursor = conn.cursor()

  sql = '''select * from students'''
  cursor.execute(sql)
  rows = cursor.fetchall()

  conn.commit()
  conn.close()
  return[row for row in rows]


# Update
def update_student(name, addr, score, id):
  conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
  cursor = conn.cursor()

  sql = '''update students set name=?, addr=?, score=? where id=?'''
  cursor.execute(sql, (name, addr, score, id))

  conn.commit()
  conn.close()
# Delete
def delete_student(id):
  conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
  cursor = conn.cursor()

  sql = '''delete from students where id=?'''
  cursor.execute(sql, (id,))

  conn.commit()
  conn.close()

In [15]:
# 사용
read_students()

[(1, '홍길동1', '서울', 90),
 (2, '임꺽정', '서울', 100),
 (4, '이순신', '부산', 100),
 (6, '둘리', '대전', 19),
 (7, '홍길동1', '서울', 90),
 (8, '홍길동2', '서울', 91),
 (9, '홍길동3', '서울', 92),
 (10, '홍길동4', '서울', 93),
 (11, '홍길동5', '서울', 94)]

In [16]:
# 홍길동2--> 임꺽정  91-->100
update_student('임꺽정', '서울', 100, 2)
read_students()

[(1, '홍길동1', '서울', 90),
 (2, '임꺽정', '서울', 100),
 (4, '이순신', '부산', 100),
 (6, '둘리', '대전', 19),
 (7, '홍길동1', '서울', 90),
 (8, '홍길동2', '서울', 91),
 (9, '홍길동3', '서울', 92),
 (10, '홍길동4', '서울', 93),
 (11, '홍길동5', '서울', 94)]

In [17]:
# 3번 홍길동3 삭제
delete_student(3)
read_students()

[(1, '홍길동1', '서울', 90),
 (2, '임꺽정', '서울', 100),
 (4, '이순신', '부산', 100),
 (6, '둘리', '대전', 19),
 (7, '홍길동1', '서울', 90),
 (8, '홍길동2', '서울', 91),
 (9, '홍길동3', '서울', 92),
 (10, '홍길동4', '서울', 93),
 (11, '홍길동5', '서울', 94)]

In [18]:
# 조회
result = read_students()
print(result[0])
print(result[0][1])

(1, '홍길동1', '서울', 90)
홍길동1

In [19]:
# 추가
create_student('둘리', '대전', 19)
read_students()

[(1, '홍길동1', '서울', 90),
 (2, '임꺽정', '서울', 100),
 (4, '이순신', '부산', 100),
 (6, '둘리', '대전', 19),
 (7, '홍길동1', '서울', 90),
 (8, '홍길동2', '서울', 91),
 (9, '홍길동3', '서울', 92),
 (10, '홍길동4', '서울', 93),
 (11, '홍길동5', '서울', 94),
 (12, '둘리', '대전', 19)]

판다스와 데이터 베이스

In [20]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/DB/소상공인시장진흥공단_서울 개업 현황_20171016.csv',encoding='cp949')
df.head()

         상호명                    주소 업종대분류    업종중분류      업종소분류
0       허술한집   서울특별시 강서구 공항동 45-89    음식       분식     라면김밥분식
1       신풍유통    서울특별시 중구 봉래동2가 122    제조  식품가공/제조     종합식품제조
2       옛날한과  서울특별시 양천구 신월동 115-15    음식  제과제빵떡케익      떡/한과집
3  서울연인단팥빵본점   서울특별시 강남구 역삼동 707-9    제조  식품가공/제조  빵/과자제조-종합
4         엔젤    서울특별시 중구 황학동 706-2    음식     유흥주점      호프/맥주

In [21]:
# 데이터베이스 만들기(접속)
conn = sqlite3.connect('/content/drive/MyDrive/DB/seoul_shop.db')
# replace 테이블이 존재하면 삭제하고 새로 생성
# index =False 인덱스를 데이터베이스에 저장하지 않음
df.index.name = 'id'
df.to_sql('seoul_shop', conn, if_exists='replace',index=True)

21391

In [22]:
conn = sqlite3.connect('/content/drive/MyDrive/DB/seoul_shop.db')
cursor = conn.cursor()
sql = 'select * from seoul_shop'
cursor.execute(sql)
rows = cursor.fetchall()
count = 0
for row in rows:
  if count == 10:
    break
  print(row)
  count += 1
conn.close()

(0, '허술한집', '서울특별시 강서구 공항동 45-89', '음식', '분식', '라면김밥분식')
(1, '신풍유통', '서울특별시 중구 봉래동2가 122', '제조', '식품가공/제조', '종합식품제조')
(2, '옛날한과', '서울특별시 양천구 신월동 115-15', '음식', '제과제빵떡케익', '떡/한과집')
(3, '서울연인단팥빵본점', '서울특별시 강남구 역삼동 707-9', '제조', '식품가공/제조', '빵/과자제조-종합')
(4, '엔젤', '서울특별시 중구 황학동 706-2', '음식', '유흥주점', '호프/맥주')
(5, '하루식품', '서울특별시 중구 충무로1가 52-5', '소매', '음/식료품소매', '식료품점')
(6, '시드니', '서울특별시 양천구 신정동 117-36', '음식', '유흥주점', '룸살롱/단란주점')
(7, '신창농산구내식당', '서울특별시 송파구 가락동 600', '음식', '기타음식업', '구내식당/자급식음식점')
(8, '도쿄다이야키', '서울특별시 강남구 대치동 937', '음식', '제과제빵떡케익', '제과점')
(9, '선일이비즈니스고등학교', '서울특별시 은평구 갈현동 240-1', '학문/교육', '학교', '고등학교')

In [23]:
# 테이블 구조 확인하기
# 데이터 베이스 연결
conn = sqlite3.connect('/content/drive/MyDrive/DB/seoul_shop.db')
cursor = conn.cursor()

cursor.execute('pragma table_info(seoul_shop)')
rows = cursor.fetchall()
for row in rows:
  print(row)

# 종료
conn.close()

(0, 'id', 'INTEGER', 0, None, 0)
(1, '상호명', 'TEXT', 0, None, 0)
(2, '주소', 'TEXT', 0, None, 0)
(3, '업종대분류', 'TEXT', 0, None, 0)
(4, '업종중분류', 'TEXT', 0, None, 0)
(5, '업종소분류', 'TEXT', 0, None, 0)

In [24]:
# 판다스와 함께 사용하기
conn = sqlite3.connect('/content/drive/MyDrive/DB/seoul_shop.db')
df = pd.read_sql('select * from seoul_shop', conn)
df.head()

   id        상호명                    주소 업종대분류    업종중분류      업종소분류
0   0       허술한집   서울특별시 강서구 공항동 45-89    음식       분식     라면김밥분식
1   1       신풍유통    서울특별시 중구 봉래동2가 122    제조  식품가공/제조     종합식품제조
2   2       옛날한과  서울특별시 양천구 신월동 115-15    음식  제과제빵떡케익      떡/한과집
3   3  서울연인단팥빵본점   서울특별시 강남구 역삼동 707-9    제조  식품가공/제조  빵/과자제조-종합
4   4         엔젤    서울특별시 중구 황학동 706-2    음식     유흥주점      호프/맥주

판다스와 함께 DataBase CRUD

In [36]:
# Create
df = pd.read_csv('/content/drive/MyDrive/DB/강남구도시관리공단_강남스포츠문화센터 프로그램 정보_20240228.csv'
        ,encoding='cp949')
# 데이터 베이스 만들기
conn = sqlite3.connect('/content/drive/MyDrive/DB/kangnam_sportscenter.db')
df.index.name = 'id'
df.to_sql('sportscenter', conn, if_exists='replace',index=True)
print("data insert successfully!")
# 연결종료
conn.close()

data insert successfully!

In [43]:
# Read / all
conn = sqlite3.connect('/content/drive/MyDrive/DB/kangnam_sportscenter.db')
df = pd.read_sql('select * from sportscenter', conn)
# 연결 종료
conn.close()

df.head(2)

,id,강좌명,강사명,교육시작시각,교육종료시각,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,수강료,교육장도로명주소,운영기관명,운영기관전화번호,접수방법구분
0,0,새벽단전(국선도),최덕지,06:00:00,06:50:00,국선도,실버,오프라인,월-토,300,60000,강남구 밤고개로1길 52,강남구도시관리공단,02-2176-0801,인터넷+방문접수
1,1,오전단전(국선도),민경태,09:00:00,09:50:00,국선도,실버,오프라인,월-토,30,60000,강남구 밤고개로1길 52,강남구도시관리공단,02-2176-0801,인터넷+방문접수

In [38]:
# update  가장 첫번째 데이터 즉 인덱스가 0인 데이터의 정원수 30 --> 300으로 변경
df.loc[0,'강좌정원수'] = 300

In [42]:
# 데이터 베이스 접속
conn = sqlite3.connect('/content/drive/MyDrive/DB/kangnam_sportscenter.db')
cursor = conn.cursor()
# 데이터 프레임의 변경된 데이터만 반영
# 변경된 데이터만 추출  rows....
cursor.execute('''update sportscenter set 강좌정원수=? where id=?''', (300,0 ) )
conn.commit()
conn.close()

In [44]:
# 데이터프레임으로 초기 DB구축 -- 대규모 데이터 insert
# 조회된 결과를 데이터프레임으로 출력

# 업데이트와 삭제는 데이터프레임과 관련이 없고 DB에 직접 접속해서 수행

In [46]:
# 스포츠센터 데이터를 조회 - 수강료가 10만원 이하인 강좌

conn = sqlite3.connect('/content/drive/MyDrive/DB/kangnam_sportscenter.db')
df = pd.read_sql('select * from sportscenter where 수강료 <= 100000', conn)
# 연결 종료
conn.close()
df.head()

,id,강좌명,강사명,교육시작시각,교육종료시각,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,수강료,교육장도로명주소,운영기관명,운영기관전화번호,접수방법구분
0,0,새벽단전(국선도),최덕지,06:00:00,06:50:00,국선도,실버,오프라인,월-토,300,60000,강남구 밤고개로1길 52,강남구도시관리공단,02-2176-0801,인터넷+방문접수
1,1,오전단전(국선도),민경태,09:00:00,09:50:00,국선도,실버,오프라인,월-토,30,60000,강남구 밤고개로1길 52,강남구도시관리공단,02-2176-0801,인터넷+방문접수
2,2,다이어트요가1,이진영,19:40:00,20:30:00,요가·필라테스,모든회원,오프라인,월수금,35,37000,강남구 밤고개로1길 52,강남구도시관리공단,02-2176-0801,인터넷+방문접수
3,3,"생활요가(화,목)",신은재,10:00:00,10:50:00,요가·필라테스,모든회원,오프라인,화목,35,24000,강남구 밤고개로1길 52,강남구도시관리공단,02-2176-0801,인터넷+방문접수
4,4,"생활요가(화,목,토)",신은재,10:00:00,10:50:00,요가·필라테스,모든회원,오프라인,화목토,35,36000,강남구 밤고개로1길 52,강남구도시관리공단,02-2176-0801,인터넷+방문접수

한국문화정보원_전국 문화 여가 활동 시설(캠핑) 데이터_20221130

데이터 베이스화 해서 저장하고 조회도 하고..

In [49]:
df = pd.read_csv('/content/drive/MyDrive/DB/한국문화정보원_전국 문화 여가 활동 시설(캠핑) 데이터_20221130.CSV',
            encoding='cp949')
df.index.name = 'id'

conn = sqlite3.connect('/content/drive/MyDrive/DB/culture.db')
df.to_sql('all_culture', conn, if_exists='replace',index=True)

2477

In [52]:
mydf = pd.read_sql('select * from all_culture', conn)
mydf.head(2)

,id,시설명,카테고리1,카테고리2,카테고리3,시도 명칭,시군구 명칭,법정읍면동명칭,리 명칭,번지,...,글램핑 티비,글램핑 냉장고,글램핑 유무선인터넷,글램핑 내부화장실,글램핑 에어컨,글램핑 난방기구,글램핑 취사도구,시설 특징,시설 소개,최종작성일
0,0,(유)금강 두승산 글램핑,여가활동,캠핑,글램핑,전라북도,정읍시,고부면,만수리,410-7 번지,...,Y,Y,Y,Y,Y,Y,Y,대형 수영장과 어린이 풀이 있는 글램핑장,금강두승산글램핑은 정읍시내에서 가깝다. 정읍역이나 시외버스터미널에서도 지척의 거리이...,2022-11-30
1,1,(주)두산개발 별고을테마파크,여가활동,캠핑,"일반야영장,자동차야영장,카라반,글램핑",경상북도,성주군,선남면,도성리,15-13 번지,...,Y,Y,Y,Y,Y,Y,Y,반려견과 함께히는 전국최대규모 애견동반펜션,알수없음,2022-11-30