- 관계형 데이터베이스
  - 형식이 정해진 데이터 즉 테이블 구조
  - 판다스와 거의 비슷한 구조
- No SQL
  - json형태로 되어 있는구조
- SQLite
  - 코렙에서 로컬파일로 작동하는 간단한 데이터 베이스

In [1]:
import sqlite3  # 서버 설치라고 보면 됩니다

In [2]:
# 데이터 베이스 시스템에 접속
conn = sqlite3.connect('/content/drive/MyDrive/DB/example.db')  # 스키마.. 데이터베이파일 생성

In [3]:
# 시스템 접속후에 사용가능한 상태로 만들기
# CRUD(Create Read Update Delete)
cursor = conn.cursor()

In [12]:
# 테이블 생성 쿼리
sql = '''create table if not exists users(
  id integer primary key autoincrement,
  name text,
  age integer
)'''

cursor.execute(sql)

In [13]:
# 데이터를 테이블에 넣는다(생성)  - insert
sql = 'insert into users(name, age) values(?, ?)'
cursor.execute(sql, ('홍길동', 20))

In [4]:
# 데이터 조회
sql = 'select * from users'
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
  print(row)

(1, '홍길동', 20)

In [5]:
# 연결 닫는다..
# 데이터추가한것은 실제 반영된게 아니라 임시로 반영되었음
# 실제 반영하려면. commit  커밋을 해야..
conn.commit()
conn.close()

데이터베이스접속-커서오픈 - 작업(insert,update,delete,select) -  커밋/접속종료

기존 테이블에 데이터를 더 추가하려면?

In [6]:
conn = sqlite3.connect('/content/drive/MyDrive/DB/example.db')
cursor = conn.cursor()
sql = 'insert into users(name, age) values(?, ?)'
cursor.execute(sql, ('김길동', 25))  # 메모리에 임시로 저장
conn.commit()  # 실제 저장
conn.close()

In [7]:
# 한번 더 저장
conn = sqlite3.connect('/content/drive/MyDrive/DB/example.db')
cursor = conn.cursor()
sql = 'insert into users(name, age) values(?, ?)'
cursor.execute(sql, ('규영', 15))  # 메모리에 임시로 저장
conn.commit()  # 실제 저장
conn.close()

In [8]:
# 데이터베이스중에 users 테이블에 저장된 모든 데이터 조회
conn = sqlite3.connect('/content/drive/MyDrive/DB/example.db')
cursor = conn.cursor()
sql = 'select * from users'
cursor.execute(sql)  # sql 명령어를 실행( 추가 삭제 업데이트)만 하면되지만 조회는 데이터를 가져와야 하기때문에
rows = cursor.fetchall() # 데이터 를 집합형태로 가져오는 명령어가 필요
for row in rows:
  print(row)

(1, '홍길동', 20)
(2, '김길동', 25)
(3, '규영', 15)

In [2]:
# 학사관리 데이터 베이스
# 1. 전용 데이터베이스 생성
conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
cursor = conn.cursor()
# 2. students 테이블 생성( id, name, addr, score)  아이디 이름 주소 점수(0~100)
sql = '''create table if not exists students(
  id integer primary key autoincrement,
  name text,
  addr text,
  score integer
)'''
cursor.execute(sql)
# 3. 5명 학생데이터를 넣고
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동1', '서울', 90))
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동2', '서울', 91))
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동3', '서울', 92))
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동4', '서울', 93))
cursor.execute('insert into students(name, addr, score) values(?, ?, ?)', ('홍길동5', '서울', 94))
# 4. 조회하기
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
  print(row)
# 5. 커밋
conn.commit()
# 6. 접속종료
conn.close()

(1, '홍길동1', '서울', 90)
(2, '홍길동2', '서울', 91)
(3, '홍길동3', '서울', 92)
(4, '홍길동4', '서울', 93)
(5, '홍길동5', '서울', 94)

In [4]:
#접속
conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
cursor = conn.cursor()

# 업데이트  '홍길동4', '서울', 93  -> 이순신, 부산, 100
sql = '''update students set name=?, addr=?, score=? where id=?'''
cursor.execute(sql, ('이순신', '부산', 100, 4))
# 조회
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
  print(row)

# 접속 종료
conn.commit()
conn.close()

(1, '홍길동1', '서울', 90)
(2, '홍길동2', '서울', 91)
(3, '홍길동3', '서울', 92)
(4, '이순신', '부산', 100)
(5, '홍길동5', '서울', 94)

In [8]:
# 접속
conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
cursor = conn.cursor()

sql = '''delete from students where id=?'''
cursor.execute(sql, (5,))
# 조회
cursor.execute('select * from students')
rows = cursor.fetchall()
for row in rows:
  print(row)

# 적용/접속해제
conn.commit()
conn.close()

(1, '홍길동1', '서울', 90)
(2, '홍길동2', '서울', 91)
(3, '홍길동3', '서울', 92)
(4, '이순신', '부산', 100)

In [22]:
# Create
def create_student(name, addr, score):
  conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
  cursor = conn.cursor()

  sql = '''insert into students(name, addr, score) values(?, ?, ?)'''
  cursor.execute(sql, (name, addr, score))

  conn.commit()
  conn.close()
# Read
import numpy as np
def read_students():
  conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
  cursor = conn.cursor()

  sql = '''select * from students'''
  cursor.execute(sql)
  rows = cursor.fetchall()

  conn.commit()
  conn.close()
  return[row for row in rows]


# Update
def update_student(name, addr, score, id):
  conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
  cursor = conn.cursor()

  sql = '''update students set name=?, addr=?, score=? where id=?'''
  cursor.execute(sql, (name, addr, score, id))

  conn.commit()
  conn.close()
# Delete
def delete_student(id):
  conn = sqlite3.connect('/content/drive/MyDrive/DB/studentsMng.db')
  cursor = conn.cursor()

  sql = '''delete from students where id=?'''
  cursor.execute(sql, (id,))

  conn.commit()
  conn.close()

In [23]:
# 사용
read_students()

[(1, '홍길동1', '서울', 90),
 (2, '홍길동2', '서울', 91),
 (3, '홍길동3', '서울', 92),
 (4, '이순신', '부산', 100)]

In [25]:
# 홍길동2--> 임꺽정  91-->100
update_student('임꺽정', '서울', 100, 2)
read_students()

[(1, '홍길동1', '서울', 90),
 (2, '임꺽정', '서울', 100),
 (3, '홍길동3', '서울', 92),
 (4, '이순신', '부산', 100)]

In [26]:
# 3번 홍길동3 삭제
delete_student(3)
read_students()

[(1, '홍길동1', '서울', 90), (2, '임꺽정', '서울', 100), (4, '이순신', '부산', 100)]